body {
    margin: 0;
    padding: 20px;
    background-color: rgb(2, 2, 2);
    font-family: 'WF Visual Sans';
    src: url('https://dhygzobemt712.cloudfront.net/Fonts/VF/WFVisualSansVF.woff2') format('woff2');
    overflow: hidden;
    height: 100vh;
}

.arrange-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: rgba(140, 140, 140, 0.15);
    color: #f0f0f0;
    border: 1px solid rgba(140, 140, 140, 0.3);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 9999;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.arrange-button:hover {
    background-color: rgba(160, 160, 160, 0.2);
    border: 1px solid rgba(160, 160, 160, 0.4);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.arrange-button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card {
    position: absolute;
    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.1);
    padding: 5px;
    cursor: grab;
    user-select: none;
    border: 1px solid rgba(150, 150, 150, 0.2);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease, backdrop-filter 0.3s ease, 
                -webkit-backdrop-filter 0.3s ease, background-color 0.3s ease,
                opacity 0.3s ease, visibility 0.3s ease, left 0.3s ease-out, top 0.3s ease-out;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.card.dragging {
    cursor: grabbing;
    background-color: rgba(150, 150, 150, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(180, 180, 180, 0.5);
}

.card-image {
    border-radius: 4px;
    display: block;
    margin-bottom: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 1px 4px;
}

.card-title {
    font-size: 13px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.card-title:hover {
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.2s ease;
}

.card-date {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.45);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}